.reactflow {
  width: 100%;
  // height: 500px;

  // :global(.react-flow__edges) {
  //   z-index: 4 !important;
  // }
}

//controls
.controls {
  left: auto !important;
  bottom: auto !important;
  top: 10px;
  right: 20px;
  width: auto !important;
}
.buttons {
  left: auto !important;
  bottom: auto !important;
  top: 10px;
  right: 20px;
  & svg {
    transform: scale(1.4);
  }
}

.dndnode {
}

.menuText {
}

.full {
  height: 100%;
  width: 100%;
}
