.input {
  input[class~='2xs'] {
    @apply py-0;
    @apply px-0;
    @apply sm:text-2xs;
  }
  input[class~='xs'] {
    @apply py-0.5;
    @apply px-0.5;
    @apply sm:text-xs;
  }
  input[class~='sm'] {
    @apply py-1;
    @apply px-1;
    @apply sm:text-sm;
  }
  input[class~='md'] {
    @apply py-2;
    @apply px-3;
  }
  input[class~='xl'] {
    @apply py-3;
    @apply px-5;
  }
}
