.slider {
  input[type='range'] {
    -webkit-appearance: none !important;
    @apply bg-primary rounded-full w-full;
    height: 4px;
    border: none;
    outline: none;
  }
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    @apply hover:shadow cursor-pointer rounded-full;
    border-style: solid;
    border-width: 1px;
    height: 20px;
    width: 20px;
    background: hsl(var(--clr-sec--50));
    border-color: hsl(var(--clr-sec--300));
    &:hover {
      background: hsl(var(--clr-sec--100));
      border-color: hsl(var(--clr-sec--400));
    }
  }
}

.slider-sm {
  input[type='range'] {
    height: 2.5px;
  }
  input[type='range']::-webkit-slider-thumb {
    height: 13px;
    width: 13px;
  }
  span {
    font-size: 0.7rem;
  }
  label {
    margin-bottom: -0.5rem;
  }
}

.slider-lg {
  input[type='range'] {
    height: 6px;
  }
  input[type='range']::-webkit-slider-thumb {
    height: 24px;
    width: 24px;
  }
  span {
    font-size: 0.9rem;
  }
}

.slider-xl {
  input[type='range'] {
    height: 8px;
  }
  input[type='range']::-webkit-slider-thumb {
    height: 28px;
    width: 28px;
  }
  span {
    font-size: 1rem;
  }
}
