.handle {
  z-index: 1;
  height: 8px !important;
  width: 8px !important;
}

.handle_logic {
  @extend .handle;

  &_string {
    @extend .handle_logic;
    background: rgb(145, 39, 39) !important;
  }
  &_int {
    @extend .handle_logic;
    background: rgb(117, 20, 117) !important;
  }
  &_float {
    @extend .handle_logic;
    background: rgb(23, 117, 20) !important;
  }
  &_bool {
    @extend .handle_logic;
    background: rgb(77, 20, 212) !important;
  }
  &_date {
    @extend .handle_logic;
    background: rgb(77, 20, 212) !important;
  }
  &_time {
    @extend .handle_logic;
    background: rgb(77, 20, 212) !important;
  }
  &_datetime {
    @extend .handle_logic;
    background: rgb(77, 20, 212) !important;
  }
  &_duration {
    @extend .handle_logic;
    background: rgb(77, 20, 212) !important;
  }
}
