@forward './handles.module.scss';

.react-flow__node {
  &.selected {
    border: #000 solid 1px;
  }
}

.entityWrapper {
  &.hidden {
    display: none;
  }
}

.react-flow__edges {
  z-index: 3;
}
.react-flow__nodes {
}
.react-flow__pane {
}
.react-flow__edge-default .selected {
  stroke: gray !important;
}

// This is used to override the previous color of the handle, for that to work it has to be on the bottom of the file
.handleConnectedFill {
  &::before {
    background: #181520;
  }
}
.handleConnectedBorderRight {
  &::before {
    border-color: transparent transparent transparent #181520;
  }
}
.handleConnectedBorderLeft {
  &::before {
    border-color: transparent #181520 transparent transparent;
  }
}

// General style
.handleFunction {
  border: 0 !important;
  border-radius: 50% !important;
  left: 40 !important;
  width: 6 !important;
  height: 6 !important;
  background: rgba(0, 0, 0, 0.3) !important;
  margin-bottom: 16 !important;
  &::before {
    content: '' !important;
    width: 4 !important;
    height: 4 !important;
    left: 1 !important;
    bottom: 1 !important;
    border: 0 !important;
    border-radius: 50% !important;
    background: rgba(255, 255, 255, 0.6) !important;
    z-index: -1 !important;
    display: inline-block !important;
    position: fixed !important;
  }
}
