/**
 * This program has been developed by students from the bachelor Computer Science at
 * Utrecht University within the Software Project course.
 * © Copyright Utrecht University (Department of Information and Computing Sciences)
 */

/* istanbul ignore file */
/* The comment above was added so the code coverage wouldn't count this file towards code coverage.
 * We do not test components/renderfunctions/styling files.
 * See testing plan for more details.*/

.nodeQualityPopup {
  background-color: white;
  position: relative;
  z-index: 11 !important;
  width: 140px;
  padding: 5px;

  border-style: solid;
  border-width: 1px;
  border-radius: 5px;

  .title {
    border-bottom: solid;
    border-width: 1px;
    font-size: 14px;

    #name {
      font-weight: bold;
    }
  }

  .information {
    font-size: 11px;
  }
  .rightSideValue {
    float: right;
  }

  .closeButtonWrapper {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    border-width: 1px;

    #closeButton {
      width: 50%;
      font-size: 11px;

      border-radius: 5px;
      border-color: black;
      border-style: solid;
      border-width: 1px;
    }
  }
}
