:root {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'InterVariable', sans-serif;
    font-optical-sizing: auto;
  }
}

.font-data {
  font-family: 'InterVariable', 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-variant-numeric: tabular-nums slashed-zero;
  font-feature-settings:
    'tnum' 1,
    'zero' 1;
}
