.btn {
  --btn-color: var(--clr-sec);
  --btn-color-light-hover: var(--clr-sec--300);
  --btn-text: var(--clr-light);
  --btn-text-hover: var(--clr-light);
  --btn-bg-color: hsl(var(--btn-color));
  --btn-bg: var(--btn-color) / var(--btn-bg-opacity);
  --btn-border: var(--btn-color);

  color: hsl(var(--btn-text));
  border-color: hsl(var(--btn-border));
  background-color: hsl(var(--btn-bg));
  &:hover {
    color: hsl(var(--btn-text));
    border-color: hsl(var(--btn-border));
    background-color: hsl(var(--btn-bg));
  }
  &:active {
    opacity: 0.88;
  }
  span {
    font: unset;
    overflow: visible;
    text-overflow: ellipsis;
    line-height: 1em;
  }
  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }

  @apply font-semibold cursor-pointer duration-100 ease-in-out transition border-0 flex flex-row items-center justify-center whitespace-nowrap disabled:cursor-not-allowed aria-disabled:cursor-not-allowed disabled:opacity-50 aria-disabled:opacity-50;

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 4px hsl(var(--focus-shadow-clr) / 30%);
  }
}
.btn-icon-only {
  line-height: 1;
  padding-left: 0!important;
  padding-right: 0!important;
}
.btn-2xl {
  @apply text-lg min-h-11 min-w-11 px-3.5 py-2.5 gap-2 rounded;
}
.btn-xl {
  @apply text-base min-h-10 min-w-10 px-3 py-2 gap-2 rounded;
}
.btn-lg {
  @apply text-base min-h-9 min-w-9 px-3 py-2 gap-1.5 rounded;
}
.btn-md {
  @apply text-sm min-h-8 min-w-8 px-2.5 py-1.5 gap-1 rounded;
}
.btn-sm {
  @apply text-sm min-h-7 min-w-7 px-2.5 py-1.5 gap-1 rounded;
}
.btn-xs {
  @apply text-xs min-h-6 min-w-6 px-2 py-0.5 gap-1 rounded-sm;
}
.btn-2xs {
  @apply text-2xs min-h-5 min-w-5 px-2 py-0.5 gap-0.5 rounded-xs;
}
.btn-3xs {
  @apply text-2xs min-h-4 min-w-4 px-1 py-0 gap-0.5 rounded-xs;
}

.btn-primary {
  @apply ring-primary-400 hover:ring-primary-500;
  --btn-color: var(--clr-pri--600);
  --focus-shadow-clr: var(--clr-pri--500);
  &:hover, &:focus {
    --btn-color: var(--clr-pri--500);
    --btn-color-light-hover: var(--clr-pri--600);
  }
}

.btn-secondary {
  @apply ring-secondary-400 hover:ring-secondary-500;
  --btn-color: var(--clr-sec--700);
  &:hover, &:focus {
    --btn-color: var(--clr-sec--800);
    --btn-color-light-hover: var(--clr-sec--700);
  }
}
.btn-danger {
  @apply ring-danger-400 hover:ring-danger-500;
  --btn-color: var(--clr-dang--600);
  --focus-shadow-clr: var(--clr-dang--500);
  &:hover, &:focus {
    --btn-color: var(--clr-dang--500);
    --btn-color-light-hover: var(--clr-dang--600);
  }
}

.btn-solid {
  --btn-text: var(--clr-light);
  --btn-bg: var(--btn-color);
  &:not(:disabled):hover {
    --btn-text: var(--clr-light);
    --btn-bg: var(--btn-color);
  }
}
.btn-outline {
  @apply ring-1 ring-inset;
}

.btn-outline,
.btn-ghost {
  --btn-bg: var(--btn-color) / 0;
  --btn-text: var(--btn-color);
  &:not(:disabled):hover {
    --btn-bg: var(--btn-color-light-hover) / 0.1;
    --btn-text: var(--btn-color);
  }
}

.btn-ghost {
  --btn-border: var(--btn-color) / 0;
}

.btn-block {
  @apply w-full;
}

.btn-rounded {
  @apply rounded-full;
}

.exported {
  span {
    transform: translate(0px, -8px);
  }
}
